.headerMain {
    border-bottom-width: 1px;
    border-bottom-color: #111111;
}

.headerInner {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10%;
    max-width: 1908px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.headerNavWrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
}

.headerMenuBarWrapper{

    width: 30px;
    margin: 10px 10px 10px 10px;
}

.menuBarIcon{

}

.headerIconWrapper{
    width : 50px;
    height: auto;
    margin-right: 10px;
}


.nav {
    padding: 10px 10px 10px 10px;
}

.link {
    color: black;
    font-family: Arial;
    font-size: 0.5rem;
    padding: 5px 5px 5px 5px;

}

.headerSearchBarWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: 10px;
    height: 30px;
    width: 30%;
    max-width: 650px;

}

.headerSearchBar{
    border-color: transparent;
    background-color: white;
    padding-right: 3px;
    padding-left:  3px;
    width: 100%;
}

.searchIconWrapper {
    margin: 10px 10px 10px 10px;
    width : 15px;
}

.searchIcon{
    background-color: white;
}

.userInfoWrapper{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.cartIconWrapper {
    margin: 10px 10px 10px 10px;
    width : 15px;
}